<a href="https://colab.research.google.com/github/Srikanth6300/python-programs/blob/main/assigenment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## list

In [1]:
fruit=["apple", "goa", "banana","mango","orange"]
print(fruit)
print(fruit[0])
print(fruit[0:2])
print(fruit[-3])
print(fruit[:2])
print(fruit[2:])
print(fruit[1:3])
print(fruit[:])

['apple', 'goa', 'banana', 'mango', 'orange']
apple
['apple', 'goa']
banana
['apple', 'goa']
['banana', 'mango', 'orange']
['goa', 'banana']
['apple', 'goa', 'banana', 'mango', 'orange']

##append

In [2]:
fruit=["apple", "goa", "banana","mango","orange"]
print(fruit)
fruit.append("star fruit")
print(fruit)

['apple', 'goa', 'banana', 'mango', 'orange']
['apple', 'goa', 'banana', 'mango', 'orange', 'star fruit']

##insert and remove

In [3]:
fruit=["apple", "goa", "banana","mango","orange"]
fruit.insert(2,"star fruit")
print(fruit)
fruit.remove("goa")
print(fruit)

['apple', 'goa', 'star fruit', 'banana', 'mango', 'orange']
['apple', 'star fruit', 'banana', 'mango', 'orange']

In [4]:
hero=["edward antony stark","i am iron man","3000"]
print(hero)
hero.append("i killed thanos")
print(hero)
hero.sort()
print(hero)
print(len(hero))
hero.remove("3000")
print(hero)
print(len(hero))
del hero[2]
print(hero)
hero.clear()
print(hero)
num=[2,3000,10,95]
num.sort()
print(num)
num.sort(reverse=True)
print(num)
print(len(num))

['edward antony stark', 'i am iron man', '3000']
['edward antony stark', 'i am iron man', '3000', 'i killed thanos']
['3000', 'edward antony stark', 'i am iron man', 'i killed thanos']
4
['edward antony stark', 'i am iron man', 'i killed thanos']
3
['edward antony stark', 'i am iron man']
[]
[2, 10, 95, 3000]
[3000, 95, 10, 2]
4

##string

In [5]:
a = " RRR, SHYAM SINGHA ROY, PUSHPA"
print(a.strip())
a = " RRR, SHYAM SINGHA ROY, PUSHPA"
print(a.replace("RRR", "KGF"))
a = " RRR, SHYAM SINGHA ROY, PUSHPA"
print(a.split(","))
a = " RRR, SHYAM SINGHA ROY, PUSHPA"
print(a.upper())
a = " RRR, SHYAM SINGHA ROY, PUSHPA"
print(a.lower())
a = "14202 "
b = "KGF"
c = a + b
print(c)
a = "14202"
b = "KGF"
print(a,b)
a = "RRR"
b = "KGF"
c = a + " "+ b
print(c)
PUSHPA=150
RRR=567
KGF=600
bucketlist = "KGF FOR {2},RRR FOR {1} AND PUSHPA {0} FOR dollars."
print(bucketlist.format(PUSHPA,RRR,KGF))

RRR, SHYAM SINGHA ROY, PUSHPA
 KGF, SHYAM SINGHA ROY, PUSHPA
[' RRR', ' SHYAM SINGHA ROY', ' PUSHPA']
 RRR, SHYAM SINGHA ROY, PUSHPA
 rrr, shyam singha roy, pushpa
14202 KGF
14202 KGF
RRR KGF
KGF FOR 600,RRR FOR 567 AND PUSHPA 150 FOR dollars.

##sets

In [7]:
alpha = {"a", "b", "c"}
print(alpha)
print(len(alpha))
print(type(alpha))
alpha = set(("a", "b", "c"))
print(alpha)
##loop
alpha = {"a", "b", "c"}
for d in alpha:
 print(d)
##addition
alpha = {"a","b", "c"}
alpha.add("e")
print(alpha)
alpha = {"a","b", "c"}
beta = {"d", "e", "e"}
alpha.update(beta)
print(alpha)
##remove
alpha = {"a","b", "c"}
alpha.remove("c")
print(alpha)
alpha.discard("a")
print(alpha)
x = alpha.pop()
print(x)
print(alpha)
alpha.clear()
print(alpha)
alpha = {"a","b", "c"}
for d in alpha:
  print(x)

{'a', 'c', 'b'}
3
<class 'set'>
{'a', 'c', 'b'}
a
c
b
{'a', 'c', 'b', 'e'}
{'a', 'e', 'c', 'd', 'b'}
{'a', 'b'}
{'b'}
b
set()
set()
b
b
b

##dictionaries

In [9]:
marvel = {
"hero":"iron man",
"number":3000,
"name": "tony"
}
print(marvel)
print(len(marvel))
i = marvel["number"]
print(i)
i= marvel.values()
print(i)
marvel["name"] ="friday"
print(i)
marvel.clear()
print(marvel)
marvel = {
"hero":"iron man",
"number":3000,
"name": "tony"
}
for i in marvel:
 print(marvel[i])

{'hero': 'iron man', 'number': 3000, 'name': 'tony'}
3
3000
dict_values(['iron man', 3000, 'tony'])
dict_values(['iron man', 3000, 'friday'])
{}
iron man
3000
tony