<a href="https://colab.research.google.com/github/Srikanth6300/python-programs/blob/main/module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Accept input from user and store it in variable and print the value

In [2]:
a=100
b=20
c=int(input())
d=int(input())
e=a-b-c-d
print(e)

5
8
67

##Use of print statements and use of (.format )for printing different data types

In [19]:
for a in range(20,100,1):
  print(a)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

##Accepting 5 different subject marks from user and displaying the grade of the student.

In [7]:
s1=float(input("enter marks"))
s2=float(input("enter marks"))
s3=float(input("enter marks"))
s4=float(input("enter marks"))
s5=float(input("enter marks"))
avg=(s1+s2+s3+s4+s5)/5
if avg>=90:
  print("a grade")
elif avg>=80:
  print("b grade")
elif avg>=70:
  print("c grade")
elif avg>=60:
  print("d grade")
else:
  print("fail")

enter marks20
enter marks50
enter marks78
enter marks60
enter marks78
fail

##Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
pow, sqrt etc.

In [8]:
import math
a=float(input("enter a number "))
print(math.ceil(a))
print(math.floor(a))
print(math.fabs(a))
print(math.trunc(a))
print(math.sqrt(a))
b=float(input("enter a number"))
c=float(input("enter a number "))
print(math.fmod(b,c))
print(math.pow(b,c))

enter a number 60
60
60
60.0
60
7.745966692414834
enter a number78
enter a number 90
78.0
1.9431854151138662e+170

##Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
the output (Same operations on floating point input as well)

In [10]:
a=float(input("enter a number"))
b=float(input("enter a number"))
c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
print("sum= ",c)
print("subtract= ",d)
print("product= ",e)
print("division= ",f)
print("remainder= ",g)

enter a number10
enter a number50
sum=  60.0
subtract=  -40.0
product=  500.0
division=  0.2
remainder=  10.0

##Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [12]:
a=float(input("enter hours"))
print(a*60)
b=float(input("enter miles"))
print(b*1.6)

enter hours8
480.0
enter miles5
8.0

###Printing all even numbers, odd numbers, count of even numbers, count of odd numbers
within a given range.
o Compute the factorial of a given number. b) Compute GCD of two given
numbers. c) Generate Fibonacci series up to N numbers.

In [21]:
n=int(input("enter range "))
c=0
for i in range(1,n+1):
 if i%2==0:
   c+=1
   print(i)


print("even count is ",c)

d=0
for i in range(1,n+1):
  if i%2!=0: 
    d+=1
    print(i)

print("odd count is ",d)

enter range 45
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
even count is  22
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
odd count is  23

##x Compute compound interest using loop for a certain principal and interest amount

In [32]:
a=int(input("principle amount:"))
rate=int(input("rate:"))
year=int(input("number of years:"))
for i in range(year):
  a=a+((a*rate)/100)
  print(a)

principle amount:56
rate:78
number of years:2
99.68
177.43040000000002