<a href="https://colab.research.google.com/github/Srikanth6300/python-programs/blob/main/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Create a function which accepts two inputs from the user and compute n

In [ ]:
def nCr (a,b):
  return(fact(a)//(fact(b)
                   *fact(a-b)))
a=int(input("")) 
b=int(input(""))
def fact(a):
    res=1 
    for i in range(2,a+1):
      res =res*i
    return res
print(int(nCr(a,b)))

6
2
15

##Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

##
x Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed

In [ ]:
my_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

print("The list is : " )
print(my_list)

K = 2
print("The value of K is ")
print(K)
my_result = [ele for ele in my_list if len(ele) != K]

print("The filtered list is : ")
print(my_result)

The list is :
[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
The value of K is
2
The filtered list is :
[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

##x Program to get the difference between the two lists.

In [ ]:
a = [11, 12, 13, 14, 15 ]
b = [11, 17, 14, 18 , 19 ]
diff_a_b = list(set(a) - set(b))
diff_b_a = list(set(b) - set(a))
total_diff = diff_a_b + diff_b_a
print(total_diff)

[12, 13, 15, 17, 18, 19]

##Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.

In [ ]:
my_list = [4, 5, 7, 9, 12]
print("The list is ")
print(my_list)
print("The resultant tuple is :")
my_result = [(val, pow(val, 2)) for val in my_list]
print(my_result)

The list is
[4, 5, 7, 9, 12]
The resultant tuple is :
[(4, 16), (5, 25), (7, 49), (9, 81), (12, 144)]

##Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n=int(input("Input a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

##Program to remove a key from a dictionary

In [ ]:
Dict = {'a':6,'b':7,'c':8,'d':9}
print(Dict)
if 'c' in Dict: 
    del Dict['c']
print(Dict)

{'a': 6, 'b': 7, 'c': 8, 'd': 9}
{'a': 6, 'b': 7, 'd': 9}

##Program to get the maximum and minimum value in a dictionary

In [ ]:
dictionary = {'x':450, 'y':7895, 'z': 560}

key_max = max(dictionary.keys(), key=(lambda k: dictionary[k]))
key_min = min(dictionary.keys(), key=(lambda k: dictionary[k]))

print('Maximum Value: ',dictionary[key_max])
print('Minimum Value: ',dictionary[key_min])

Maximum Value:  7895
Minimum Value:  450

##Program for Counting occurrence of a certain element in a string, getting indexes that
have matching elements.For ex -.In Rabbit count how many times b has occurred .
Example-I have to go to a doctor and get myself checked. Count the number of
occXrrences of µWo¶.
|

In [5]:
str_1="Rabbit"
print(str_1.count('b'))
str_2="I have to go to a doctor and get myself checked."
print(str_2.count('to'))

2
3

###x Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locati

In [6]:
string=input("enter a string: ")
print(string.split())
print(string[4:19])

enter a string: kgf movies is blockbaster in south india
['kgf', 'movies', 'is', 'blockbaster', 'in', 'south', 'india']
movies is block

In [7]:
##Program for replacing one substring by another For example - Rabbit - Replace "bb" and "cc"
string='Rabbit'
new_string=string.replace('bb','cc')
print(new_string)

Raccit

In [8]:
##x Program to Acronym generator for any user input (ex-input is Random memory access
#then output should be RMA).Example - Random number (RN)
string=input("enter some string:")
a=string.split()
for i in a:
 print(i[0],end='')

enter some string:random access memory
ram

In [10]:
##Python function that accepts a string and calculates the number of uppercase
#letters and lowercase letters.
string="I Love hollywood movies and I enjoy it."
count_1=0
count_2=0
for i in string:
 if i.isupper():
  count_1+=1
 elif i.islower():
  count_2+=1
 else:
   pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

No.of uppercase alphabets are:  3
No.of lowercase alphabets are:  28

In [14]:
##Program to count the number of strings where the string length is 2 or more and
#the first and last character are same from a given list of strings 
Sample_List = ['abc', 'xyz', 'aba', '1221','amma','24','in','cds2t54sc']
count=0
for i in Sample_List:
 if len(i)>=2:
   if i[0]==i[len(i)-1]:
     print(i)
 count+=1
print(count)

aba
1221
amma
cds2t54sc
8