<a href="https://colab.research.google.com/github/Srikanth6300/python-programs/blob/main/python_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## avg of three number

In [ ]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)

20.0

## multiplication of three number

In [ ]:
a=20
b=30
c=50
mul=(a*b*c)
print(mul)

30000

## addition of two number(dynamic)

In [ ]:
a=int(input("enter the number;"))
b=int(input("enter the number;"))
add=(a+b)
print(add)
print(type)

enter the number;10
enter the number;20
30
<class 'type'>

## convert int into float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))

<class 'int'>
<class 'float'>

## convert float into int

In [ ]:
a=10.5
b=int(a)
print(type(a))
print(type(b))
print(b)

<class 'float'>
<class 'int'>
10

## convert int to string

In [ ]:
a=20
b=str(a)
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

## convert  string to int(not possible only if value given in alph)

# BOOLAN

In [ ]:
a=10
print(bool(a))
print(type(a))

True
<class 'int'>

## BOOLAN IN IF

In [ ]:
a = 0
b = 1
 
if a == 0:
    print(True)
     
if a == b:
    print(True)
     
if a != b:
    print(True)

True
True

## BOOLEAN TO INT

In [ ]:
a=bool(10)
print(type(a))
b=int(a)
print(type(b))

<class 'bool'>
<class 'int'>

## convert boolean into float

In [ ]:
a=10.5
b=12.5
c=b<a
e=float(bool(c))
print(e)
print(type(e))

0.0
<class 'float'>

## convert boolean into float

In [ ]:
a=bool(10)
print(type(a))
b=float(a)
print(type(b))

<class 'bool'>
<class 'float'>

## convert boolean into string

In [ ]:
a=10
b=5
c=a>b
d=str(c)
print(type(c))
print(d)
print(type(d))

<class 'bool'>
True
<class 'str'>

## complex into int

In [ ]:
a=5+2j
print(type(a))
c=str(a)
print(type(c))
d=bool(a)
print(type(d))