<a href="https://colab.research.google.com/github/Srikanth6300/python-programs/blob/main/srikanth_1667.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##printing list

In [5]:
fruit=["apple","banana","kiwi","pineapple"]
print(fruit)

['apple', 'banana', 'kiwi', 'pineapple']

##Accessing list

In [6]:
fruit=["apple","banana","kiwi","pineapple"]
print(fruit)

#PRINT THE FIRST ITEM OF THE LIST
print(fruit[0])

#NEGATIVE INDEXING
print(fruit[-1])

#RANGE OF INDEXES
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:2])
print(fruit[1:])
print(fruit[3:])

['apple', 'banana', 'kiwi', 'pineapple']
apple
pineapple
['apple', 'banana']
['apple', 'banana']
['banana']
['banana', 'kiwi', 'pineapple']
['pineapple']

##CHANING LIST ITEMS

In [7]:
fruit=["apple","banana","kiwi","pineapple",]
print(fruit)
fruit[2:3]=["watermelon"]
print(fruit)
fruit[2:3]=["papaya","kiwi"]
print(fruit)

['apple', 'banana', 'kiwi', 'pineapple']
['apple', 'banana', 'watermelon', 'pineapple']
['apple', 'banana', 'papaya', 'kiwi', 'pineapple']

##EXTENDING THE ITEM

In [8]:
fruit=["apple","banana","kiwi","pineapple"]
print(fruit)
fruit[2:4]="papaya"
print(fruit)

['apple', 'banana', 'kiwi', 'pineapple']
['apple', 'banana', 'p', 'a', 'p', 'a', 'y', 'a']

##ADD LIST ITEMS

In [9]:
fruit=["apple","banana","kiwi","pineapple"]
print(fruit)

#APPEND
fruit.append("papaya")
print(fruit)

#INSERTING
fruit.insert(4,"guava")
print(fruit)
fruit.insert(1,"orange")
print(fruit)

#EXTENDING THE LIST
extra=("watermelon","papaya")
fruit.extend(extra)
print(fruit)

['apple', 'banana', 'kiwi', 'pineapple']
['apple', 'banana', 'kiwi', 'pineapple', 'papaya']
['apple', 'banana', 'kiwi', 'pineapple', 'guava', 'papaya']
['apple', 'orange', 'banana', 'kiwi', 'pineapple', 'guava', 'papaya']
['apple', 'orange', 'banana', 'kiwi', 'pineapple', 'guava', 'papaya', 'watermelon', 'papaya']

##REMOVING LIST ITEMS

In [10]:
fruit=["apple","banana","kiwi","pineapple"]
print(fruit)

#REMOVING LIST ITEM
fruit.remove("kiwi")
print(fruit)

#POP AND REMOVE ARE SAME
fruit.pop(1)
print(fruit)

#DELETE
del fruit[0]
print(fruit)

#CLEARING THE LIST 
fruit.clear()
print(fruit)

['apple', 'banana', 'kiwi', 'pineapple']
['apple', 'banana', 'pineapple']
['apple', 'pineapple']
['pineapple']
[]

##LOOP LIST

In [12]:
fruit=["apple","banana","orange"]
print(fruit)

#FOR LOOP
for x in fruit:
  print(x)

  #RANGE
  for i in range(len(fruit)):
    print(fruit[1])

    #WHILE LOOP
    i=0
    while i < len(fruit):
      print(fruit[i])
      i=i+1

      #FOR LOOP
      [print(x) for x in fruit]

['apple', 'banana', 'orange']
apple
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange
banana
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange
orange
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange
banana
apple
apple
banana
orange
banana
apple
banana
orange
orange
apple
banana
orange

##LIST OF COMPRENSION

In [13]:
fruit=["apple","watermelon","kiwi"]
newlist=[x for x in fruit if "y" in x]
print(newlist)

newlist=[x for x in fruit if x !="apple"]
print(newlist)

newlist=[x for x in fruit]
print(newlist)

newlist=[x for x in range(11)]
print(newlist)

newlist=[x for x in range(9) if x<5]
print(newlist)

newlist=[x.upper()for x in fruit]
print(newlist)

newlist=['hello' for x in fruit]
print(newlist)

newlist=[x if x !="apple" else "kiwi"  for x in fruit]
print(newlist)

[]
['watermelon', 'kiwi']
['apple', 'watermelon', 'kiwi']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4]
['APPLE', 'WATERMELON', 'KIWI']
['hello', 'hello', 'hello']
['kiwi', 'watermelon', 'kiwi']

##SORT LIST

In [14]:
# SORT ALPH
fruit=["apple","kiwi","orange","banana","guava"]
fruit.sort()
print(fruit)

#SORT NUMERICALLY
numbers=["10","40","143","33","28"]
numbers.sort()
print(numbers)

#SORT DESCENDING
fruit=["apple","kiwi","orange","banana","guava"]
fruit.sort(reverse = True)
print(numbers)

#CUSTOMISE SORT FUNCTION
def myfunc(n):
  return abs(n - 50)
  numbers = [10,40,143,33,28]
  numbers.sort(key=myfunc)
  print(numbers)

  #CASE INSENSTIVE SORT
  fruit =["apple","kiwi","orange","banana","guava"]
  fruit.reverse()
  print(fruit)

['apple', 'banana', 'guava', 'kiwi', 'orange']
['10', '143', '28', '33', '40']
['10', '143', '28', '33', '40']

##copy list

In [15]:
#COPY A LIST
fruit = ["apple","banana","kiwi"]
mylist=fruit.copy()
print(mylist)

mylist=list(fruit)
print(mylist)

['apple', 'banana', 'kiwi']
['apple', 'banana', 'kiwi']

##JOIN LISTS

In [16]:
#JOIN TWO LISTS
a=["d","e","f"]
b=[1,2,3]
c=a+b
print(c)

a=["d","e","f"]
b=[1,2,3]
for x in b:
  a.append(x)
  print(a)

  #EXTEND
  a=["d","e","f"]
  b=[1,2,3]
  a.extend(b)
  print(a)

['d', 'e', 'f', 1, 2, 3]
['d', 'e', 'f', 1]
['d', 'e', 'f', 1, 2, 3]
['d', 'e', 'f', 1, 2, 3, 2]
['d', 'e', 'f', 1, 2, 3]
['d', 'e', 'f', 1, 2, 3, 3]
['d', 'e', 'f', 1, 2, 3]